* {
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.home__header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}

.home__header a:hover {
  text-decoration: underline;
}

.home__headerRight {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}

.home__headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
  cursor: pointer;
}

.home__body {
  flex: 1;
  display: flex;
  margin-top: 8%;
  flex-direction: column;
}

.home__body > img {
  object-fit: contain;
  height: 100px;
}

.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 999px;
  padding: 10px 20px;
  height: 30px;
  width: 75vw;
  max-width: 560px;
  margin: 0 auto;
  margin-top: 40px;
}

.search__input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}

.search__input > input:focus {
  outline: none;
}

.search_inputIcon {
  color: gray;
}

.search__buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search__buttons button {
  margin: 5px;
  padding: 7px 15px;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222222;
}

.search__buttons button:hover {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222222;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
}

.search__buttonsHide {
  display: none !important;
}